@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Magra:wght@400;700&display=swap');

header, main, footer {
    font-family: "Carlito", serif;
}

.text-style-dark {
    color: white;
}

.weather-bg {
    position: relative;
    overflow: hidden;
}

.weather-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.weather-bg-dark {
    position: relative;
    overflow: hidden;
}

.weather-bg-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -2;
}


.weather-bg-dark::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust for darker/lighter effect */
    z-index: -1;
}

.clear::before { background-image: url('./images/clear.gif'); }
.sunny::before { background-image: url('./images/sunny.gif'); }
.fog::before { background-image: url('./images/fog.gif'); }
.snow::before { background-image: url('./images/snowGif.gif'); }
.rain::before { background-image: url('./images/rain.gif'); }
.thunder::before { background-image: url('./images/thunderstormGif.gif'); }
.lightRain::before { background-image: url('./images/lightRainGif.gif'); }